

@{
    ViewData["Title"] = "Create";
}

<h1>Створити заняття</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"  action="~/PareSubgroups/Create">
           
            <div class="form-group">
                Пара 1
                <select value="Pare_Id" id="Pare_Id" name="Pare_Id" class ="form-control" asp-items="ViewBag.Pare_Id"></select>
                Пара 2
                <select value="Pare_Id2" id="Pare_Id2" name="Pare_Id2" class ="form-control" asp-items="ViewBag.Pare_Id2"></select>

                Пара 3
                <select value="Pare_Id3" id="Pare_Id3" name="Pare_Id3" class ="form-control" asp-items="ViewBag.Pare_Id3"></select>
                Пара 4
                <select value="Pare_Id4" id="Pare_Id4" name="Pare_Id4" class ="form-control" asp-items="ViewBag.Pare_Id4"></select>

                Пара 5
                <select value="Pare_Id5" id="Pare_Id5" name="Pare_Id5" class ="form-control" asp-items="ViewBag.Pare_Id5"></select>
                Пара 6
                <select value="Pare_Id6" id="Pare_Id6" name="Pare_Id6" class ="form-control" asp-items="ViewBag.Pare_Id6"></select>

                Підгрупа

                <select value="Subgroup_Id" id="Subgroup_Id" name="Subgroup_Id" class ="form-control" asp-items="ViewBag.Subgroup_Id"></select>
           
            </div>
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
