<DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
    <title>ViewData["Title"] = "Home Page"</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
 

<style>
.btn{
justify-content: center;
display: flex;
width: 100%;
}    
</style>
<body>
    <div class="main-div">
     <form action="~/Pares/Index" s >
         <input type="submit"  value="Переглянути розклад" class="btn btn-primary"></input>
     </form>
   
</div>
    
</body>

</html>